.print {
  background: #071329;// #36033B;
  height: 700px;
}

#shots {
  z-index: 20;
}

div.tooltip {
  z-index: 25;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.legend {
  position: absolute;
  z-index: 30;
  left: 840px;
}

.players-legend, .teams-legend {
  left: 970px;
  top: 20px;
}
